a {
  color: inherit;
}

.blackcolor {
  color: rgb(0, 0, 0);
}

/* .navbar a:visited {
  color: inherit;
} */

.button {
  background-color: rgb(8, 162, 223);
  color: white;
  height: 30px;
}

a:hover {
  color: rgb(16, 101, 212);
}

.Raleway {
  color: #4d5ae5;
  font-style: normal;
  font-family: 'Raleway', sans-serif !important;
}

body {
  font-family: 'Roboto';
}

.container1 {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.removed {
  padding: 0;
  margin: 0px;
  list-style: none;
}

.header {
  padding: 25px 0;
}

.navbar {
  display: flex;
  gap: 95px;
}

.removed {
  display: flex;
  gap: 58px;
}

.container1 {
  justify-content: space-between;
  align-items: center;
}

.address {
  display: flex;
  gap: 50px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.column {
  flex-direction: column;
  align-items: center;
}

.row {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 1px;
}

.left {
  display: flex;
  justify-content: left;
}

.footer-basis {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 12px;
}

.footer-address-map-link {
  color: rgb(0, 0, 0);
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  padding: 10px 0px;
  padding-left: 215px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.main-second-section-items {
  display: flex;
  flex-direction: row;
}



.main-second-section-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.main-second-section-item {
  display: block;
  margin: 25px;
  box-shadow: 5px 5px 0.4em rgb(0, 0, 0, 0.3);
}

.main-second-section-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}

.main-second-section-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.main-second-section-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.main-second-section-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.main-third-section-1img {
  box-shadow: -8px 8px 0.4em rgb(0, 0, 0, 0.3);
}

.main-third-section-2img {
  box-shadow: 0px 8px 0.4em rgb(0, 0, 0, 0.3);
}

.main-third-section-3img {
  box-shadow: 8px 8px 0.4em rgb(0, 0, 0, 0.3);
}

.main-fourth-section-li {
  box-shadow: 8px 8px 0.4em rgb(0, 0, 0, 0.3);
}